@import '@styles/styles.scss';

.accordion {
  @apply relative;
  @apply w-full;
  @apply flex;
  @apply flex-col;
}

// VARIANT

.accordion-variant-solid {
  @apply bg-surface-01;
}

@each $swatch in $paletteSurface {
  .accordion-color-#{$swatch} {
    @apply #{bg- + $swatch};
  }
}

// ROUNDED

.accordion-rounded {
  @apply rounded-[4px];
}

// SHADOW

.accordion-shadow {
  @apply shadow-xs;
}
