$nodeHeight: 32px;
$nodeR: 18px;

// BACKGROUND

.react-flow__background {
  @apply bg-background;
  & circle {
    @apply fill-secondary-subtle;
    @apply opacity-70;
  }
}

// NODE

.react-flow__node-customNode,
.react-flow__node-customNodeOutput,
.react-flow__node-customNodeInput,
.react-flow__node-customNodeBasic,
.react-flow__node-parentNode {
  @apply relative;
  @apply flex;
  @apply border border-border;
  @apply bg-translucent-surface-01;
}

.react-flow__node-customNode,
.react-flow__node-customNodeOutput,
.react-flow__node-customNodeInput,
.react-flow__node-customNodeBasic {
  @apply items-center;
  @apply p-1;
  @apply pr-2.5;
  @apply #{'h-[' + $nodeHeight + ']'};
  @apply #{'rounded-[' + $nodeR + ']'};
}

.react-flow__node-customNode.selected,
.react-flow__node-customNodeOutput.selected,
.react-flow__node-parentNode.selected {
  @apply border-primary;
  &::after {
    @apply content-[''];
    @apply absolute;
    @apply -top-px;
    @apply -left-px;
    @apply -right-px;
    @apply -bottom-px;
    box-shadow: inset 0 0 0 2px theme('colors.primary.DEFAULT');
    @apply pointer-events-none;
  }
}

.react-flow__node-customNode.selected,
.react-flow__node-customNodeOutput.selected {
  &::after {
    @apply #{'rounded-[' + $nodeR + ']'};
  }
}

// PARENT NODE

.react-flow__node-parentNode {
  @apply p-2;
  @apply rounded-lg;
  & .label {
    @apply absolute;
    z-index: calc((theme('zIndex.flow')) + 1);
    top: calc((theme('height.button.md') / 2) * -1);
    @apply left-2/4;
    @apply -translate-x-2/4;
    @apply overflow-hidden;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply py-1;
    @apply px-4;
    @apply h-[theme('height.button.md')];
    @apply max-w-[12ch];
    @apply rounded;
    @apply bg-secondary-tint;
  }
}

.react-flow__node-parentNode.selected {
  &::after {
    @apply rounded-lg;
  }
  & .label {
    @apply bg-primary-tint;
  }
}

// HANDLE

.react-flow {
  .react-flow__handle {
    @apply block;
    @apply z-10;
    @apply h-2;
    @apply w-2;
    @apply border border-border;
    @apply bg-surface-01;
  }
  .react-flow__handle-array {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply h-3;
    @apply w-3;
  }
  .react-flow__handle-right.react-flow__handle-array {
    @apply -right-1.5;
  }
  .react-flow__parent-handle {
    @apply hidden;
  }
}

// CONTROLS

.react-flow {
  .react-flow__panel {
    @apply m-4;
  }
}

// EDGE

.react-flow__edges {
  z-index: calc((theme('zIndex.flow')) + 1) !important;
}

.react-flow {
  .react-flow__edge .react-flow__edge-path {
    @apply stroke-border;
    @apply stroke-1;
  }
}

.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge:focus .react-flow__edge-path,
.react-flow__edge:focus-visible .react-flow__edge-path {
  @apply stroke-border;
}

// MINIMAP

.react-flow {
  .react-flow__minimap {
    @apply overflow-hidden;
    @apply rounded-md;
  }
}
