:root {
  --typography-font-family-sans-serif: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --typography-font-weight-thin: 100;
  --typography-font-weight-extralight: 200;
  --typography-font-weight-light: 300;
  --typography-font-weight-normal: 440;
  --typography-font-weight-medium: 500;
  --typography-font-weight-semibold: 600;
  --typography-font-weight-bold: 700;
  --typography-font-weight-extrabold: 800;
  --typography-font-weight-black: 900;
  --typography-font-size-xxs: 0.625rem;
  --typography-font-size-xs: 0.75rem;
  --typography-font-size-sm: 0.875rem;
  --typography-font-size-base: 1rem;
  --typography-font-size-lg: 1.125rem;
  --typography-font-size-xl: 1.25rem;
  --typography-font-size-2xl: 1.5rem;
  --typography-font-size-3xl: 1.875rem;
  --typography-font-size-4xl: 2.25rem;
  --typography-font-size-5xl: 3rem;
  --typography-font-size-6xl: 3.75rem;
  --typography-font-size-7xl: 4.5rem;
  --typography-letter-spacing-normal: 0em;
  --typography-letter-spacing-tight: -0.02em;
  --typography-letter-spacing-tighter: -0.05em;
  --typography-letter-spacing-wide: 0.02em;
  --typography-letter-spacing-wider: 0.05em;
  --typography-letter-spacing-widest: 0.1em;
  --typography-line-height-none: 100%;
  --typography-line-height-tight: 125%;
  --typography-line-height-snug: 137.5%;
  --typography-line-height-normal: 150%;
  --typography-line-height-relaxed: 162.5%;
  --typography-line-height-loose: 200%;
  --typography-paragraph-spacing-xxs: 0.625rem;
  --typography-paragraph-spacing-xs: 0.75rem;
  --typography-paragraph-spacing-sm: 0.875rem;
  --typography-paragraph-spacing-base: 1rem;
  --typography-paragraph-spacing-lg: 1.125rem;
  --typography-paragraph-spacing-xl: 1.25rem;
  --typography-paragraph-spacing-2xl: 1.5rem;
  --typography-paragraph-spacing-3xl: 1.875rem;
  --typography-paragraph-spacing-4xl: 2.25rem;
  --typography-paragraph-spacing-5xl: 3rem;
  --typography-paragraph-spacing-6xl: 3.75rem;
  --typography-paragraph-spacing-7xl: 4.5rem;
  --typography-7xl-line-height: 125%;
  --typography-7xl-font-size: 4.5rem;
  --typography-7xl-letter-spacing: -0.02em;
  --typography-7xl-paragraph-spacing: 4.5rem;
  --typography-6xl-line-height: 120%;
  --typography-6xl-font-size: 3.75rem;
  --typography-6xl-letter-spacing: -0.02em;
  --typography-6xl-paragraph-spacing: 3.75rem;
  --typography-5xl-line-height: 125%;
  --typography-5xl-font-size: 3rem;
  --typography-5xl-letter-spacing: -0.02em;
  --typography-5xl-paragraph-spacing: 3rem;
  --typography-4xl-line-height: 122%;
  --typography-4xl-font-size: 2.25rem;
  --typography-4xl-letter-spacing: -0.02em;
  --typography-4xl-paragraph-spacing: 2.25rem;
  --typography-3xl-line-height: 127%;
  --typography-3xl-font-size: 1.875rem;
  --typography-3xl-letter-spacing: 0em;
  --typography-3xl-paragraph-spacing: 1.875rem;
  --typography-2xl-line-height: 133%;
  --typography-2xl-font-size: 1.5rem;
  --typography-2xl-letter-spacing: 0em;
  --typography-2xl-paragraph-spacing: 1.5rem;
  --typography-xl-line-height: 150%;
  --typography-xl-font-size: 1.25rem;
  --typography-xl-letter-spacing: 0em;
  --typography-xl-paragraph-spacing: 1.25rem;
  --typography-lg-line-height: 156%;
  --typography-lg-font-size: 1.125rem;
  --typography-lg-letter-spacing: 0em;
  --typography-lg-paragraph-spacing: 1.125rem;
  --typography-base-line-height: 150%;
  --typography-base-font-size: 1rem;
  --typography-base-letter-spacing: 0em;
  --typography-base-paragraph-spacing: 1rem;
  --typography-sm-line-height: 143%;
  --typography-sm-font-size: 0.875rem;
  --typography-sm-letter-spacing: 0em;
  --typography-sm-paragraph-spacing: 0.875rem;
  --typography-xs-line-height: 150%;
  --typography-xs-font-size: 0.75rem;
  --typography-xs-letter-spacing: 0em;
  --typography-xs-paragraph-spacing: 0.75rem;
  --typography-xxs-line-height: 150%;
  --typography-xxs-font-size: 0.625rem;
  --typography-xxs-letter-spacing: 0em;
  --typography-xxs-paragraph-spacing: 0.625rem;
  --typography-button-small-line-height: 100%;
  --typography-button-small-font-size: 0.75rem;
  --typography-button-small-letter-spacing: 0em;
  --typography-button-medium-line-height: 100%;
  --typography-button-medium-font-size: 0.875rem;
  --typography-button-medium-letter-spacing: 0em;
  --typography-button-large-line-height: 100%;
  --typography-button-large-font-size: 1rem;
  --typography-button-large-letter-spacing: 0em;
  --typography-paragraph-small-line-height: 172%;
  --typography-paragraph-small-font-size: 0.75rem;
  --typography-paragraph-small-letter-spacing: 0em;
  --typography-paragraph-small-paragraph-spacing: 0.75rem;
  --typography-paragraph-medium-line-height: 172%;
  --typography-paragraph-medium-font-size: 0.875rem;
  --typography-paragraph-medium-letter-spacing: 0em;
  --typography-paragraph-medium-paragraph-spacing: 0.875rem;
  --typography-paragraph-large-line-height: 172%;
  --typography-paragraph-large-font-size: 1rem;
  --typography-paragraph-large-letter-spacing: 0em;
  --typography-paragraph-large-paragraph-spacing: 1rem;
  --size-width-decorator-xxs: 0.625rem;
  --size-width-decorator-xs: 0.75rem;
  --size-width-decorator-sm: 1rem;
  --size-width-decorator-md: 1.25rem;
  --size-width-decorator-lg: 1.5rem;
  --size-width-decorator-xl: 1.75rem;
  --size-width-decorator-2xl: 2rem;
  --size-width-decorator-3xl: 2.5rem;
  --size-width-decorator-4xl: 3rem;
  --size-width-icon-xs-default: 1.5rem;
  --size-width-icon-xs-icon: 0.75rem;
  --size-width-icon-sm-default: 2rem;
  --size-width-icon-sm-icon: 1rem;
  --size-width-icon-md-default: 2.25rem;
  --size-width-icon-md-icon: 1rem;
  --size-width-icon-lg-default: 2.5rem;
  --size-width-icon-lg-icon: 1.25rem;
  --size-width-icon-xl-default: 2.75rem;
  --size-width-icon-xl-icon: 1.5rem;
  --size-width-icon-2xl-default: 3rem;
  --size-width-icon-2xl-icon: 1.5rem;
  --size-width-icon-3xl-default: 3.5rem;
  --size-width-icon-3xl-icon: 1.75rem;
  --size-width-icon-4xl-default: 5rem;
  --size-width-icon-4xl-icon: 2.5rem;
  --size-width-avatar-xxs: 1rem;
  --size-width-avatar-xs: 1.25rem;
  --size-width-avatar-sm: 1.5rem;
  --size-width-avatar-md: 2rem;
  --size-width-avatar-lg: 2.25rem;
  --size-width-avatar-xl: 2.5rem;
  --size-width-avatar-2xl: 3rem;
  --size-width-avatar-3xl: 4rem;
  --size-width-avatar-4xl: 5rem;
  --size-width-checkbox-sm: 1rem;
  --size-width-checkbox-md: 1.25rem;
  --size-width-switch-sm: 2.25rem;
  --size-width-switch-md: 2.75rem;
  --size-width-drawer-collapsed: 3.75rem;
  --size-width-drawer-expanded: 15rem;
  --size-height-button-xs: 1.5rem;
  --size-height-button-sm: 1.75rem;
  --size-height-button-md: 2.25rem;
  --size-height-button-lg: 2.5rem;
  --size-height-switch-sm: 1.25rem;
  --size-height-switch-md: 1.5rem;
  --size-height-toolbar: 5.25rem;
  --stroke-width-xxs: 1px;
  --stroke-width-xs: 1.17px;
  --stroke-width-sm: 1.33px;
  --stroke-width-md: 1.5px;
  --stroke-width-lg: 1.67px;
  --stroke-width-xl: 1.83px;
  --stroke-width-2xl: 2px;
  --stroke-width-3xl: 2.17px;
  --stroke-width-4xl: 2.33px;
  --stroke-width-5xl: 2.5px;
  --stroke-width-6xl: 2.67px;
  --stroke-width-7xl: 2.83px;
  --stroke-width-8xl: 3px;
  --focus-width-sm: 2px;
  --focus-width-md: 4px;
  --z-index-node: 1199;
  --z-index-drawer: 1200;
  --z-index-modal: 1300;
  --z-index-snackbar: 1400;
  --z-index-tooltip: 1500;
  --border-radius-rounded-xs: 1px;
  --paddings-container-x: 1.5rem;
}
